{
  "extends": [
    "prettier",
    "@antfu"
  ],
  "rules": {
    "no-console": 0,
    "brace-style": "warn",
    "space-before-function-paren": "warn",
    "arrow-parens": "warn",
    "operator-linebreak": "warn",
    "@typescript-eslint/no-unused-vars": 1
  }
}